apiVersion: v1
baseDomain: {{ base_domain }}
compute:
- hyperthreading: Enabled 
  name: worker
  replicas: 0
controlPlane:
  hyperthreading: Enabled 
  name: master
  replicas: {{ num_of_masters }}
metadata:
  name: {{ cluster_name }}
networking:
  clusterNetworks:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  networkType: OpenShiftSDN
  serviceNetwork:
  - 172.30.0.0/16
platform:
  none: {}
pullSecret: '{{ocp_pull_secret}}'
sshKey: '{{ocp_ssh_key}}'
{% if restricted_network %}
additionalTrustBundle: |
{{ocp_cert | indent(2, True) }}
imageContentSources:
- mirrors:
  - {{ocp_local_registry}}/{{ocp_local_repo}}
  source: quay.io/openshift-release-dev/ocp-release
- mirrors:
  - {{ocp_local_registry}}/{{ocp_local_repo}}
  source: quay.io/openshift-release-dev/ocp-v4.0-art-dev
{% endif %}

